<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">-->
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container-fluid">

    <div class="row">



    <section class="playerSection col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div>
        <p>player controls here</p>
      </div>
      <div>
        <p>Current playing song here</p>
      </div>
      <div>
        <p>Current playlist here</p>
      </div>
    </section>


      <section class="searchSection col-lg-8 col-md-8 col-sm-8 col-xs-8" ng-controller="musicSearchCtrl">
        <div>
          <form action="">
            <p>
              <label for="songSearchInput">Search: </label>
              <input type="text" name="songSearch" ng-model="searchQuery" id="songSearchInput"/>
            </p>

            <p>
              <label for="songSearchOrderBy">Order: </label>
              <select name="songOrderby" ng-model="searchOrderBy" id="songSearchOrderBy">
                <option value="title">Title</option>
                <option value="artist">Artist</option>
                <option value="genre">Genre</option>
              </select>
            </p>
          </form>
        </div>
        <div>
          <ul class="searchResults">
            <li ng-repeat="song in availableSongs | filter:searchQuery | orderBy:searchOrderBy">
              <span>{{song.title}}</span>
              <p>by {{song.artist}}</p>
            </li>
          </ul>
        </div>
      </section>

    </div>

  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="views/search/searchView.js"></script>
</body>
</html>
