<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">-->
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container-fluid">

    <div ng-controller="playlistCtrl" class="row">



    <section ng-controller="playerCtrl" class="playerSection col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="player">
        <div class="playerControls">
          <i ng-click="prev()" class="fa fa-step-backward" title="Previous track"></i>
          <i ng-click="play()" class="fa fa-play" ng-class="playerState === 'playing' ? 'active' : ''" title="play"></i>
          <i ng-click="pause()" class="fa fa-pause" ng-class="playerState === 'paused' ? 'active' : ''" title="pause"></i>
          <i ng-click="stop()" class="fa fa-stop" ng-class="playerState === 'stopped' ? 'active' : ''" title="stop
          "></i>
          <i ng-click="next()" class="fa fa-step-forward" title="next track"></i>
        </div>
        <div class="trackDuration">
          <span class="durationPlayed">{{currentTrackTime}}</span>
          <span class="durationTotal">{{currentSong.duration}}</span>
          <span class="durationBar" ng-style="{left: currentTrackPercent+'%'}"></span>

        </div>
      </div>

      <div>
        <ul class="playlist" ng-click="onPlaylistClick($event)">
          <li ng-repeat="song in playlist track by $index" ng-class="$index === currentSongIndex ? 'playing' : ''">
            <span><strong>{{song.title}}</strong></span>
            <p>by <em>{{song.artist}}</em></p>

            <div class="playlistSongControls">
              <a class="playSong" data-song-index="{{$index}}" href="#">Play now</a>
              <i class="fa fa-trash playlistRemoveTrack" data-song-index="{{$index}}" title="remove track from playlist"></i>
            </div>
          </li>
        </ul>
      </div>
    </section>


      <section ng-controller="musicSearchCtrl" class="searchSection col-lg-8 col-md-8 col-sm-8 col-xs-8" >
        <div>
          <form action="">
            <p>
              <label for="songSearchInput">Search: </label>
              <input type="text" name="songSearch" ng-model="searchQuery" id="songSearchInput"/>
            </p>

            <p>
              <label for="songSearchOrderBy">Order: </label>
              <select name="songOrderby" ng-model="searchOrderBy" id="songSearchOrderBy">
                <option value="title">Title</option>
                <option value="artist">Artist</option>
                <option value="genre">Genre</option>
              </select>
            </p>
          </form>
        </div>


        <div>
          <ul ng-click="searchResultsClick($event)" class="searchResults">
            <li ng-repeat="song in availableSongs | filter:searchQuery | orderBy:searchOrderBy">
              <span><strong>{{song.title}}</strong></span>
              <p>by <em>{{song.artist}}</em></p>
              <div class="songControls">
                <a class="addSong" data-song-id="{{song.id}}" href="#">Add to playlist</a>
              </div>
            </li>
          </ul>
        </div>
      </section>

    </div>

  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/lodash/lodash.min.js  "></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="views/search/searchView.js"></script>
</body>
</html>
